.input-container {
  max-width: 650px;
  margin: 130px auto 35px auto;
  display: flex;
  align-items: center;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  border-radius: 25px;
  background-color: white;

  div:first-child {
    width: 90%;
    margin-left: 10px;
  }

  input {
    width: 100%;
    border: none;
    padding: 15px 13px;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.67);

    &::placeholder {
      font-weight: bold;
    }
  }

  .icon {
    cursor: pointer;
    margin-right: 10px;
  }
}
